html,body {
    width: auto;
    /*height: 100%;*/
    margin: 0;
}

body {
    background-image: url('https://s3.ap-northeast-2.amazonaws.com/oopartsnet-gallery/Login+Cover/yellow-mountains-532857_1920.jpg');
}

#logo {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

h1#main-title {
    font-family: 'Coming Soon', cursive;
    /*font-weight: bold;*/
    font-size: 5em;
    /*font-weight: normal;*/
    margin: 0;
}

h4#sub-title {
    font-family: 'Coming Soon', cursive;
    font-size: 2em;
    margin: 0;
}

@media screen and (min-width: 1221px) {
    #wrapper {
        max-width: 1220px;
        width: 100%;
        margin: 0 auto;
    }

    #content {
        margin-top: 100px;
        width: 100%;
        height: 300px;
        text-align: center;
    }

    #gameGallery {
        border: 1px;
        background-color: aquamarine;
        float: left;
        width: 600px;
        height: 260px;
        margin: 10px 50px;
    }

    #loginBox {
        border: 1px;
        background-color: rgba(134, 134, 134, 0.6);
        float: left;
        width: 420px;
        height: 260px;
        margin: 10px 50px;
    }
}

@media screen and (max-width: 1220px){
    #wrapper {
        min-width: 750px;
        width: 100%;
        margin: 0 auto;
    }

    #content {
        width: 100%;
        height: 600px;
        text-align: center;
    }

    #gameGallery {
        border: 1px;
        background-color: aquamarine;
        width: 600px;
        height: 260px;
        margin: 0 auto;
    }

    #loginBox {
        border: 1px;
        background-color: rgba(134, 134, 134, 0.6);
        width: 420px;
        height: 260px;
        margin: 50px auto;
        padding: 1px;
    }
}

#container {
    width: 100%;
    height: 200px;
    background-color: #868686;
    margin-top: 29px;
}

#inputBox {
    float: left;
    width: 60%;
    height: 80%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#idBox {
    width: 250px;
    height: 44px;
    margin-bottom: 20px;
}

#userId {
    width: 240px;
    height: 44px;
    /*margin: 0;*/
    padding: 0 8px;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    font-size: 17px;
    font-family: 'Inconsolata', monospace;
}

#pwBox {
    width: 250px;
    height: 44px;
}

#passWd {
    width: 240px;
    height: 44px;
    margin: 0;
    padding: 0 8px;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    /*font-weight: 300;*/
}

#loginBtnBox {
    float: left;
    width: 103px;
    height: 110px;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 30px;
    background-color: #d9d9d9;
}

#singIn {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}