#logo {
    margin-top: 100px;
    margin-bottom: 10px;
    /*background-color: lightslategray;*/
    text-align: center;
}

h1#main-title {
    font-family: "Comic Sans MS";
    font-size: 5em;
    font-weight: normal;
    margin: 0;
}

h4#sub-title {
    font-family: "Comic Sans MS";
    font-size: 2em;
    margin: 0;
}