html,body {
    width: 100%;
    /*height: 100%;*/
    margin: 0;
}

#logo {
    margin-top: 100px;
    margin-bottom: 100px;
    /*background-color: lightslategray;*/
    text-align: center;
}

h1#main-title {
    font-family: "Comic Sans MS";
    font-size: 5em;
    font-weight: normal;
    margin: 0;
}

h4#sub-title {
    font-family: "Comic Sans MS";
    font-size: 2em;
    margin: 0;
}

@media screen and (min-width: 1321px) {
    #wrapper {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
    }

    #content {
        margin-top: 50px;
        width: 100%;
        height: 300px;
        text-align: center;
    }

    #gameGallery {
        border: 1px;
        background-color: #868686;
        float: left;
        width: 700px;
        height: 280px;
        margin: 10px 50px;
    }

    #loginBox {
        border: 1px;
        background-color: deepskyblue;
        float: left;
        width: 450px;
        height: 280px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 1320px){
    #wrapper {
        min-width: 750px;
        width: 100%;
        margin: 0 auto;
    }

    #content {
        margin-top: 50px;
        width: 100%;
        height: 650px;
        text-align: center;
    }

    #gameGallery {
        border: 1px;
        background-color: #868686;
        width: 700px;
        height: 280px;
        margin: 0 auto;
    }

    #loginBox {
        border: 1px;
        /*float: left;*/
        background-color: deepskyblue;
        width: 450px;
        height: 280px;
        margin: 50px auto;
    }
}