html,body {
    width: auto;
    /*height: 100%;*/
    margin: 0;
}

body {
    background-image: url('https://s3.ap-northeast-2.amazonaws.com/oopartsnet-gallery/Login+Cover/yellow-mountains-532857_1920.jpg');
}

#logo {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

h1#main-title {
    font-family: 'Coming Soon', cursive;
    /*font-weight: bold;*/
    font-size: 5em;
    /*font-weight: normal;*/
    margin: 0;
}

h4#sub-title {
    font-family: 'Coming Soon', cursive;
    font-size: 2em;
    margin: 0;
}

@media screen and (min-width: 1221px) {
    #wrapper {
        max-width: 1220px;
        width: 100%;
        margin: 0 auto;
    }

    #content {
        margin-top: 100px;
        width: 100%;
        height: 300px;
        text-align: center;
    }

    #gameGallery {
        border: 1px;
        /*background-color: aquamarine;*/
        float: left;
        width: 600px;
        height: 260px;
        margin: 10px 50px;
    }

    #loginBox {
        border: 1px;
        background-color: rgba(134, 134, 134, 0.6);
        float: left;
        width: 420px;
        height: 260px;
        margin: 10px 50px;
    }
}

@media screen and (max-width: 1220px){
    #wrapper {
        min-width: 750px;
        width: 100%;
        margin: 0 auto;
    }

    #content {
        width: 100%;
        height: 600px;
        text-align: center;
    }

    #gameGallery {
        border: 1px;
        /*background-color: aquamarine;*/
        width: 600px;
        height: 260px;
        margin: 0 auto;
    }

    #loginBox {
        border: 1px;
        background-color: rgba(134, 134, 134, 0.6);
        width: 420px;
        height: 260px;
        margin: 50px auto;
        padding: 1px;
    }
}

#container {
    width: 100%;
    height: 200px;
    /*background-color: #868686;*/
    margin-top: 29px;
}

#inputBox {
    float: left;
    width: 60%;
    height: 80%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#idBox {
    width: 250px;
    height: 44px;
    margin-bottom: 20px;
}

#userId {
    width: 240px;
    height: 44px;
    /*margin: 0;*/
    padding: 0 8px;
    /*border: 1px solid #d9d9d9;*/
    border-radius: 1px;
    font-size: 17px;
    font-family: 'Inconsolata', monospace;
}

#pwBox {
    width: 250px;
    height: 44px;
}

#passWd {
    width: 240px;
    height: 44px;
    margin: 0;
    padding: 0 8px;
    /*border: 1px solid #d9d9d9;*/
    border-radius: 1px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    /*font-weight: 300;*/
}

#loginBtnBox {
    float: left;
    width: 103px;
    height: 110px;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 30px;
    /*background-color: #d9d9d9;*/
}

#singIn {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background-color: rgba(73, 73, 73, 0.95);
    border: none;
    color: azure;
}

.input-txt {
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    border: none;
    /*font-size: 1em;*/
    color: white;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
.input-txt:-moz-placeholder { color: azure; }
.input-txt:-ms-input-placeholder { color: azure; }
.input-txt::-webkit-input-placeholder { color: azure; }
.input-txt:focus {
    background-color: rgba(250, 250, 250, 0.15);
    /*outline-color: azure;*/
    outline: none;
}
.input-txt:focus::-moz-placeholder { color: transparent; }
.input-txt:focus:-ms-input-placeholder { color: transparent; }
.input-txt:focus::-webkit-input-placeholder { color: transparent; }

#remember {
    float: left;
    margin-left: 25px;
    margin-top: 17px;
}

.toggle {

}
.toggle__control {
    transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    width: 3em;
    height: 1.5em;
    display: block;
    border: 2px solid rgba(250, 250, 250, 0.3);
    border-radius: 1.5em;
    background-color: rgba(00, 00, 00, 0.06);
    position: relative;
    float: left;
}
.toggle__control:after {
    transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    content: "";
    width: 1.5em;
    height: 1.5em;
    display: block;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(00, 00, 00, 0.2), 0 3px 3px rgba(00, 00, 00, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.toggle__input {
    display: none;
}
.toggle__input:checked + .toggle__control{
    border-color: #4cd964;
    background-color: #4cd964;
}

.toggle__input:checked + .toggle__control:after {
    left: 1.5em;
}

#rememberComment {
    width: 155px;
    color: azure;
    padding-top: 4px;
    font-size: 14px;
    height: 28px;
}

.ui-coverflow-wrapper {
    width: 600px;
    height: 240px;
    margin-top: 0px;
}

.ui-state-active {
    border: 0;
    background: #868686;
}

.gameCover {
    background-color: #868686;
    width: 230px;
    height: 230px;
    border: 2px solid #c2c2c2;
}