body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  color: #00B7FF;
}

#wrapper {
  width: 1000px;
  max-width: 1280px;
  margin: 0px auto;
}

#logo {
  width: 1000px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightslategray;
  text-align: center;
}

#sideMenu {
  border: 1px;
  background-color: deeppink;
  float: left;
  width: 190px;
  height: 600px;
  margin-right: 10px;
  /*position:fixed; !* Scroll ignore *!*/
}

#content {
  border: 1px;
  float: left;
  width: 800px;
  height: 600px;
}

#statusBox {
  background-color: #8080ff;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

#profileBox {
  float: left;
  width: 300px;
  height: 100%;
  background-color: #00ee00;
}

#notiBox {
  float: left;
  width: 500px;
  height: 100%;
  background-color: #009998;
}

#searchBar {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: #868686;
}


#containerBox {
  width: 100%;
  /*height: auto;*/
  height: 400px;
  background-color: deepskyblue;
}

#templateLinks li {
  clear: both;
  list-style-type: decimal;
}