div#container
  form(method='post')
    div#inputBox
      div#idBox
        input#userId(type='text' placeholder='Username', required='required', class='input-txt')
      div#pwBox
        input#passWd(type='password', placeholder='Password', required='required', class='input-txt')
    div#loginBtnBox
      input#singIn(type='submit', value='Login', class='btn btn--right' )
    div#remember
      label.toggle
        input#PersistentCookie.toggle__input(type='checkbox', value='yes', checked='checked')
        div.toggle__control
        div#rememberComment 아이디 저장


