div#container
  div#inputBox
    div#idBox
      input#userId(placeholder='Id')
    div#pwBox
      input#passWd(type='password', placeholder='Password')
  div#loginBtnBox
    input#singIn(type='submit' value='Login')


