script(type='text/javascript').
  $(window).on('load', function () {
    $(function () {

      $('#coverflow').coverflow({
        active: 2,
        select: function (event, ui) {
          console.log('here');
        }
      });

      $('#coverflow img').click(function () {
        if (!$(this).hasClass('ui-state-active')) {
          return;
        }
        $('#coverflow').coverflow('next');
      });
    });
  });
div.ui-coverflow-wrapper
  div#coverflow
    img(src="http://placehold.it/240x240")
    img(src="http://placehold.it/240x240/E8117F/FFFFFF")
    img(src="http://placehold.it/240x240")
    img(src="http://placehold.it/240x240/E8117F/FFFFFF")
    img(src="http://placehold.it/240x240")
  div#coverflow-slider
  //script(src="coverflow.min.js")

