doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/login-layout.css')
  body
    div#logo
      h1#main-title OOPArts
      h4#sub-title Out of Place Artifacts