doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    h1(style={'margin-left': '20px'}) OOPArts Net Template 리스트
    ul#templateLinks
      li
        a(href="/login") login 페이지 (http://ooparts.club/login)
      li
        a(href="/main-home") main home 페이지 (http://ooparts.club/main-home)
      li
        a(href="/profile") profile 페이지  (http://ooparts.club/profile)
      li
        a(href="/article-list") 게시판 목록 페이지 (http://ooparts.club/article-list)
      li
        a(href="/article-write") 글쓰기 페이지 ((http://ooparts.club/article-write)
      li
        a(href="/article-read") 글 하나 읽기 페이지 (http://ooparts.club/article-read)
      li
        a(href="/search-bar") 검색바 (http://ooparts.club/search-bar)